/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <zephyr/dt-bindings/ipc_service/static_vrings.h>
#include "serial_overlay.dtsi"

/ {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};

    dht11: dht11_1 {
        compatible = "aosong,dht";
        status = "okay";
        dio-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
    };
    
    dht22: dht22_1 {
        compatible = "aosong,dht";
        status = "okay";
        dio-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
        dht22;
    };

    level_shifters {
        compatible = "gpio-leds";
        level_shifter_1: level_shifter_01 {
            status = "okay";
            gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
            label = "Level Shifter 1 - Output Enable";
        };
        level_shifter_2: level_shifter_02 {
            status = "okay";
            gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
            label = "Level Shifter 2 - Output Enable";
        };
        level_shifter_3: level_shifter_03 {
            status = "okay";
            gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
            label = "Level Shifter 3 - Output Enable";
        };
    };

    relays {
        compatible = "gpio-leds";
        relay_1: relay_01 {
            status = "okay";
            gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
            label = "Ralay 1";
        };
        relay_2: relay_02 {
            status = "okay";
            gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
            label = "Ralay 2";
        };
/*
        relay_3: relay_03 {
            status = "okay";
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
            label = "Ralay 3";
        };
        relay_4: relay_04 {
            status = "okay";
            gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
            label = "Ralay 4";
        };
*/
    };

	pwmleds {
		servo_1: servo_01 {
            status = "okay";
			pwms = <&pwm1 0 500 PWM_POLARITY_INVERTED>;
		};
	};
};

&pinctrl {
/*
	uart1_default: uart1_default {
        group1 {
            psels = <NRF_PSEL(UART_TX, 0, 2)>;
            nordic,drive-mode = <NRF_DRIVE_H0D1>;
        };
		group2 {
			psels = <NRF_PSEL(UART_RX, 0, 3)>;
			bias-pull-up;
		};
	};

    uart1_sleep: uart1_sleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 2)>, <NRF_PSEL(UART_RX, 0, 3)>;
			low-power-enable;
		};
	};
*/
	pwm1_default: pwm1_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 0)>;
		};
	};
    pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 0)>;
            low-power-enable;
		};
	};
};

/* Set IPC thread priority to the highest value to not collide with other threads. */
&ipc0 {
    zephyr,priority = <0 PRIO_COOP>;
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-names = "default";
};

/*
&arduino_serial {
	status = "okay";
	w1_0: w1-zephyr-serial-0 {
		compatible = "zephyr,w1-serial";
		#address-cells = <1>;
		#size-cells = <0>;
		status = "okay";
		ds18b20 {
			compatible = "maxim,ds18b20";
			family-code = <0x28>;
			resolution = <12>;
			status = "okay";
		};
	};
};
*/
