/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

#include <zephyr/dt-bindings/ipc_service/static_vrings.h>

/ {
	chosen {
		nordic,pm-ext-flash = &mx25r64;
	};

	aliases {
		level-shifter1 = &level_shifter1;
		relay1 = &relay_1;
		relay2 = &relay_2;
		relay3 = &relay_3;
		relay4 = &relay_4;
		dht11 = &dht110;
		dht22 = &dht220;
		ds18b20 = &ds18b200;
		servo = &servo0;
	};

	level_shifters {
        compatible = "gpio-leds";
        level_shifter1: level_shifter_1 {
            status = "okay";
			gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
            label = "Level Shifter - Output Enable";
        };
    };

	dht110: dht11_0 {
		compatible = "aosong,dht";
		status = "okay";
		dio-gpios = <&gpio0 26 (GPIO_OPEN_DRAIN | GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
	};
    
    dht220: dht22_0 {
        compatible = "aosong,dht";
        status = "okay";
		dio-gpios = <&gpio0 25 (GPIO_OPEN_DRAIN | GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        dht22;
    };

	relays {
        compatible = "gpio-leds";
        relay_4: relay_04 {
            status = "okay";
            gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>;
            label = "Ralay 4";
        };
        relay_3: relay_03 {
            status = "okay";
            gpios = <&gpio1 12 GPIO_ACTIVE_HIGH>;
            label = "Ralay 3";
        };
        relay_2: relay_02 {
            status = "okay";
            gpios = <&gpio1 13 GPIO_ACTIVE_HIGH>;
            label = "Ralay 2";
        };
        relay_1: relay_01 {
            status = "okay";
            gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
            label = "Ralay 1";
        };
	};

	servo0: servo_0 {
		compatible = "pwm-servo";
		pwms = <&pwm1 0 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
		min-pulse = <PWM_USEC(1000)>;
		max-pulse = <PWM_USEC(1390)>;
	};
};

/* Set IPC thread priority to the highest value to not collide with other threads. */
&ipc0 {
    zephyr,priority = <0 PRIO_COOP>;
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default_alt>;
	pinctrl-1 = <&pwm1_sleep_alt>;
	pinctrl-names = "default", "sleep";
};

&uart3 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart3_default_alt>;
    pinctrl-1 = <&uart3_sleep_alt>;
    pinctrl-names = "default", "sleep";
    w1_0: w1-zephyr-serial-0 {
        compatible = "zephyr,w1-serial";
        status = "okay";
		ds18b200: ds18b20_0 {
			compatible = "maxim,ds18b20";
			family-code = <0x28>;
			resolution = <12>;
			status = "okay";
		};
    };
};

&pinctrl {
	pwm1_default_alt: pwm1_default_alt {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 27)>;
		};
	};

	pwm1_sleep_alt: pwm1_sleep_alt {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 27)>;
			low-power-enable;
		};
	};

	uart3_default_alt: uart3_default_alt {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 6)>;
            bias-pull-up;
        };
        group2 {
            psels = <NRF_PSEL(UART_TX, 0, 7)>;
            nordic,drive-mode = <NRF_DRIVE_H0D1>;
        };
    };

	uart3_sleep_alt: uart3_sleep_alt {
        group1 {
            psels = <NRF_PSEL(UART_RX, 0, 6)>;
            low-power-enable;
        };
		group2 {
            psels = <NRF_PSEL(UART_TX, 0, 7)>;
            low-power-enable;
        };
    };
};
